<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <context:property-placeholder />

    <bean id="databaseDriverProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:databaseDriver.properties</value>
                <value>classpath:queries.properties</value>
            </list>
        </property>
    </bean>

    <jdbc:embedded-database id="dataSource" />

    <bean id="databaseConnectionDAO" class="com.zenquery.model.dao.impl.JdbcDatabaseConnectionDAO">
        <property name="databaseDriverProperties" ref="databaseDriverProperties" />
        <property name="dataSource" ref="dataSource" />
        <property name="queryDAO" ref="queryDAO" />
        <property name="dataSourceFactory" ref="dataSourceFactory" />
    </bean>

    <bean id="queryDAO" class="com.zenquery.model.dao.impl.JdbcQueryDAO">
        <property name="dbUrl" value="jdbc:h2:./" />
        <property name="databaseDriverProperties" ref="databaseDriverProperties" />
        <property name="dataSource" ref="dataSource" />
        <property name="queryVersionDAO" ref="queryVersionDAO" />
    </bean>

    <bean id="queryVersionDAO" class="com.zenquery.model.dao.impl.JdbcQueryVersionDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean class="com.zenquery.util.BasicDataSourceFactory" id="dataSourceFactory">
        <property name="databaseDriverProperties" ref="databaseDriverProperties" />
    </bean>
</beans>
