<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="driverClassNameProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:driverClassNames.properties"/>
    </bean>

    <bean id="validationQueryProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:validationQueries.properties"/>
    </bean>

    <bean id="databasePropertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:database.properties</value>
                <value>file:${configFile}</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

    <bean class="java.net.URI" id="dbUrl">
        <constructor-arg value="${DATABASE_URL}"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="#{ 'jdbc:postgresql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() }"/>
        <property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }"/>
        <property name="password" value="#{ @dbUrl.getUserInfo().split(':')[1] }"/>
    </bean>

    <bean id="databaseConnectionDAO" class="com.zenquery.model.dao.impl.JdbcDatabaseConnectionDAO">
        <property name="dataSource" ref="dataSource" />
        <property name="queryDAO" ref="queryDAO" />
    </bean>

    <bean id="queryDAO" class="com.zenquery.model.dao.impl.JdbcQueryDAO">
        <property name="dataSource" ref="dataSource" />
        <property name="queryVersionDAO" ref="queryVersionDAO" />
    </bean>

    <bean id="queryVersionDAO" class="com.zenquery.model.dao.impl.JdbcQueryVersionDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean class="com.zenquery.util.BasicDataSourceFactory" id="dataSourceFactory"/>
</beans>
