<?xml version="1.0" encoding="UTF-8"?>
<beans profile="public"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http auto-config="true">
        <security:intercept-url pattern="/**" access="ROLE_USER" requires-channel="https" />
        <security:http-basic />
        <security:port-mappings>
            <security:port-mapping http="8088" https="8443"/>
            <security:port-mapping http="80" https="443"/>
        </security:port-mappings>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="ZenQuery" password="pP2XLieKb6" authorities="ROLE_USER" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>
